.teachers {

    // .teachers__container

    &__container {}

    // .teachers__body

    &__body {
        height: calc(100vh - 190px);
        overflow: auto;
    }

    // .teachers__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        padding: 32px;
    }

    // .teachers__inputs

    &__inputs {
        padding: 32px;
        display: flex;
    }

    // .teachers__input-name

    &__input-name {
        margin: 0px 20px 0px 0px;
    }

    // .teachers__input-department

    &__input-department {}

}

.teacher-search {
    width: 300px;
}
